.homepage {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 768px) {
  .homepage {
    padding: 0.5rem;
  }
}